@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/**************************/
/**** RESET ****/
/**************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**************************/
/**** ROOT ****/
/**************************/
:root {
  /* color */
  --main-color: #1dd45e;
  --main-hover-color: #3adf74;
  --background-color: #000;
  --title-color: #fff;
  --subtitle-color: #aeaeae;
  --gray-hover-color: #f0f0f0;
  /* size */
  --title-size: 15px;
  --subtitle-size: 13px;
  --title-section-size: 22px;
  /* weight */
  --bold-weight: 700;
  --semibold-weight: 500;
}

/**************************/
/**** GENERAL STYLES ****/
/**************************/
#root {
  height: 100svh;
  display: flex;
  flex-direction: column;
}
body {
  background-color: var(--background-color);
  color: var(--title-color);
  font-family: 'Montserrat', serif;
}
a {
  color: inherit;
  text-decoration-line: none;
}
button {
  font-family: inherit;
  background: none;
  border: none;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
}

/**************************/
/**** HEADER ****/
/**************************/
.header {
  padding: 8px 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* logo link */
.header__logoLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  color: var(--title-color);
}
.header__logoLink:hover {
  color: var(--gray-hover-color);
}
.header__logoLink svg {
  width: 34px;
  height: 34px;
}
.header__logoLink h1 {
  font-size: 16px;
}
/* side links */
.header__sideLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__sideLinks a:first-child p {
  color: var(--subtitle-color);
  font-size: var(--subtitle-size);
  font-weight: var(--bold-weight);
}
.header__sideLinks a:first-child p:hover {
  color: var(--title-color);
  transform: scale(1.05);
}
.header__sideLinks--buttonStyle p {
  background-color: var(--title-color);
  color: var(--background-color);
  font-size: var(--title-size);
  font-weight: var(--bold-weight);
  padding: 14px 28px;
  border-radius: 50px;
}
.header__sideLinks--buttonStyle p:hover {
  transform: scale(1.05);
  background-color: var(--gray-hover-color);
}

/**************************/
/**** HOME MAIN ****/
/**************************/
.main {
  padding: 25px;
  margin: 0 10px 10px 10px;
  background-image: linear-gradient(to top, #121212 70%, #222);
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: scroll;
}
.big-top-padding {
  padding-top: 50px;
}
/* section header */
.item-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-section__header-title {
  font-size: var(--title-section-size);
  font-weight: var(--bold-weight);
  margin: 10px 0;
}
.item-section__header-title:hover {
  text-decoration-line: underline;
  cursor: pointer;
}
.item-section__header-title--bigger {
  font-size: 28px;
  margin: 23px 0;
}
.item-section__header a p {
  color: var(--subtitle-color);
  font-size: var(--subtitle-size);
  font-weight: var(--bold-weight);
  position: relative;
}
.item-section__header a p::after {
  content: '';
  position: absolute;
  background-color: var(--title-color);
  bottom: 2px;
  left: 0;
  width: 0;
  height: 0.5px;
}
.item-section__header a p:hover::after {
  width: 100%;
}
/* section list */
.item-section__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  margin: 0 -10px;
}
.bigger-items {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.bigger-items .item-section__single-item {
  margin: 12px 0;
}
.item-section__single-item {
  padding: 15px 12px;
  border-radius: 8px;
}
.item-section__single-item:hover {
  background-image: linear-gradient(to bottom, #1d1d1d, #1f1f1f);
}
/* img container */
.item-section__single-item:hover img {
  box-shadow: 0 0 30px #121212;
}
.item-section__img-container {
  position: relative;
}
.item-section__img-container img {
  border-radius: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.item-section__img-container svg {
  display: none;
}
.item-section__single-item:hover svg {
  display: block;
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 50px;
  height: 50px;
  color: var(--main-color);
}
.item-section__img-container svg:hover {
  color: var(--main-hover-color);
  transform: scale(1.05);
}
/* texts container */
.item-section__texts h3 {
  font-size: 14px;
  font-weight: var(--semibold-weight);
  width: fit-content;
  margin: 8px 0 5px;
}
.item-section__texts h3:hover {
  text-decoration-line: underline;
}
.item-section__texts p {
  font-size: var(--subtitle-size);
  font-weight: var(--semibold-weight);
  color: var(--subtitle-color);
}

/**************************/
/**** ARTIST PAGE ****/
/**************************/
.artist-main {
  margin: 0 10px 10px 10px;
  background-image: linear-gradient(to top, #121212 70%, #222);
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.artist-main__img {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  filter: brightness(0.8);
}
/* artist header */
.artist-header {
  padding: 25px;
  z-index: 3;
  margin-top: -350px;
}
.artist-header > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.artist-header > div p {
  font-size: 14px;
  font-weight: var(--semibold-weight);
}
.artist-header svg {
  color: #4cb3ff;
  width: 25px;
  height: 25px;
}
.artist-header h2 {
  font-size: 90px;
  font-weight: 800;
}
/* artist body */
.artist-body {
  z-index: 2;
  background-color: #121212;
  background-image: linear-gradient(to top, #121212 70%, #3adf7416);
  padding: 25px;
  height: 100%;
}
.artist-body__btn-container {
  display: flex;
  align-items: center;
  gap: 25px;
}
.artist-body__play-icon svg {
  width: 55px;
  height: 55px;
  color: var(--main-color);
}
.artist-body__play-icon svg:hover {
  cursor: pointer;
  color: var(--main-hover-color);
  transform: scale(1.05);
}
.artist-body__follow-btn {
  color: var(--title-color);
  font-size: var(--subtitle-size);
  font-weight: var(--bold-weight);
  border: 1px solid var(--subtitle-color);
  padding: 8px 15px;
  border-radius: 50px;
}
.artist-body__follow-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  border-color: var(--title-color);
}
.artist-body__ellipsis-icon svg {
  width: 25px;
  height: 25px;
  color: var(--subtitle-color);
}
.artist-body__ellipsis-icon svg:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: var(--title-color);
}

/**************************/
/**** SONG LIST ****/
/**************************/
.song-list {
  margin: 35px 0;
}
.song-list h3 {
  font-size: var(--title-section-size);
  font-weight: var(--bold-weight);
}
.song-list__list {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.song-list__see-more {
  font-size: var(--subtitle-size);
  font-weight: var(--bold-weight);
  color: var(--subtitle-color);
  margin: 0 20px;
}
.song-list__see-more:hover {
  color: var(--title-color);
}
.song-item,
.song-item__frst-container,
.song-item__frst-container div,
.song-item__scnd-container,
.song-item__scnd-container div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.song-item {
  width: 100%;
  padding: 7px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: var(--semibold-weight);
}
.song-item p {
  color: var(--subtitle-color);
}
.song-item:hover {
  background-color: #2a2a2a;
  cursor: default;
}
.song-item:hover .song-item__frst-container p {
  display: none;
}
.song-item:hover .song-item__frst-container svg {
  display: block;
}
.song-item:hover .song-item__middle-name {
  color: var(--title-color);
}
.song-item:hover .song-item__scnd-container svg {
  color: var(--subtitle-color);
}
.song-item:hover .song-item__scnd-container svg:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: var(--title-color);
}
.song-item__frst-container {
  gap: 10px;
}
.frst-container__number-container {
  width: 20px;
}
.song-item__frst-container svg {
  display: none;
}
.song-item__frst-container div {
  gap: 12px;
}
.song-item__frst-container img {
  width: 40px;
  border-radius: 5px;
}
.song-item__frst-container h4 {
  font-weight: 600;
}
.song-item__frst-container h4:hover {
  cursor: pointer;
  text-decoration-line: underline;
}
.song-item__scnd-container {
  gap: 30px;
}
.song-item__scnd-container div {
  gap: 10px;
}
.song-item__scnd-container svg {
  color: transparent;
}
.song-item__scnd-container > svg {
  width: 15px;
  height: 15px;
}
.song-item__scnd-container div > svg {
  width: 18px;
  height: 18px;
}
